@model CoffeeSnobs.Models.Review

@{
    ViewBag.Title = "Review Details";
}

<h2>Review Details</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Shop)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Shop)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.City)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.City)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Drink)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Drink)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CoffeeRating)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CoffeeRating)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ServRating)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ServRating)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Return)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Return)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Back to Reviews", "Index")
</p>
